.field {
    clear:both;
    text-align:right; 
    line-height:37px;
}
label {
    float:left;
    padding-right:10px;
}
.main {
    float:left;
}
#butt{
    height: 30px;
    width: 500px;
    background-color: green;
    color: white;
    border-radius: 3px;
    text-align: center;
}
